<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

        <button ion-button><ion-icon name="arrow-back"></ion-icon></button>
      <ion-title></ion-title>
  
  </ion-header>
  
  <h1>aaaaaaaa</h1> 
-->

  <!-- <ion-content padding> -->
      <!-- <ion-card> -->

          <!-- <ion-item>
            <ion-avatar item-start>
              <img src="{{user.avatar_url}}"/>
            </ion-avatar>
            <h2>{{user.name}}</h2>
            <p>{{user.location}}</p>
          </ion-item> -->
        
          <!-- <img src="img/advance-card-bttf.png">  -->

          <!-- <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
          </ion-card-content>
        
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{user.followers}} followers</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{user.following}} following</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>
                11h ago
              </ion-note>
            </ion-col>
          </ion-row>
         -->
        <!-- </ion-card> -->
  <!-- </ion-content> -->
  